@media #{$small-only} {
  .small-padding-noleft {
    padding-left: 0;
  }
}

body {
  //overflow-y: scroll !important;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

*, *:focus, *:hover, *:active {
  outline: none;
}

input, select, textarea {
  margin-bottom: 0;

  &::-webkit-input-placeholder {
    color: #9e9e9e;
  }
  &::-moz-placeholder {
    color: #9e9e9e;
  }
  &:-moz-placeholder {
    color: #9e9e9e;
  }
  &:-ms-input-placeholder {
    color: #9e9e9e;
  }
}

.ya-share2__container_size_m .ya-share2__icon {
    height: 36px !important; /* 24px */
    width:  36px !important; /* 24px */
    background-size: 36px 36px !important; /* 24px 24px */
}
