.fileform {
  cursor: pointer;
  display: inline-block;
  position: relative;
  text-align: left;
  vertical-align: middle;
  overflow: hidden;
  margin-top: 14px;

  &__sel {

    color: #e53935;
    border-radius: 3px 2px 2px 3px;
    font-size: 14px;
    background: #fff;
    border: 1px solid #e53935;
    padding: rem-calc(5 16 6);
    text-align: center;
    display: inline-block;
    font-weight: 400;
    cursor: pointer;
    transition: all .5s;

    &:hover, &:focus {
      background: #e53935;
      color: #fff;
    }
  }
}

input.fileform__file {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
  opacity: 0;
  font-size: 150px;
  height: 40px;
  z-index: 20;
  display: none;
}