.fileform {
  cursor: pointer;
  display: inline-block;
  position: relative;
  text-align: left;
  vertical-align: middle;
  overflow: hidden;
  margin-top: 14px;

  &__sel {
    cursor: pointer;
    border-radius: 3px;
    float: right;
    padding: 10px 18px 9px;

    color: #e53935;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    border: 2px solid #e53935;
  }
}

input.fileform__file {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
  opacity: 0;
  font-size: 150px;
  height: 40px;
  z-index: 20;
}