.invest {
  display: table;
  min-width: 100%;
  margin-bottom: rem-calc(20);

  &__wrapper {
    display: block;
    overflow: auto;
  }

  &__region, &__place {
    color: #202020;
    font-size: 14px;
    display: table-cell;
    padding: 0 10px;
    vertical-align: middle;
    text-align: center;
  }
  &__place {
    border-bottom: 1px solid #e6e6e6;
  }
  &__head {
    background-color: #ebebeb;
    padding-top: 20px;
    padding-bottom: 20px;
    display: table-header-group;
  }
  &__title {
    color: #202020;
    font-size: 14px;
    font-weight: 700;
    position: relative;
    padding: 0 10px;
    display: table-cell;
    vertical-align: middle;
    width: 50%;
  }

  &__title, &__region {
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
  }

  &__row {
    position: relative;
    display: table-row;

    &:hover {
      &:after {
        display: inline-block;
      }
    }

    &:after {
      width: 16px;
      height: 16px;
      display: none;
      position: absolute;
      right: 16px;
      top: 50%;
      margin-top: -8px;
      cursor: pointer;
      content: '';
      z-index: 10;
      transform: rotate(-90deg);
      background: url(../images/sel.png) no-repeat center;
    }
  }
  &__body {
    width: 100%;
    display: table-row-group;
    margin-bottom: 30px;
  }

  &__deposite {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    display: table-cell;
    vertical-align: middle;
    border-bottom: 1px solid #e6e6e6;
    padding: 0 10px;
    height: rem-calc(52);
  }

}

/*
@media (max-width: 640px) {
  .invest {
    &__title, &__deposite {
      width: calc(100% - 140px);
    }
    &__region, &__place {
      width: 140px;
    }
  }
}*/

@media screen and (max-width: 425px) {
  .invest_small-hide {
    display: none !important;
  }
}
