.phone-top {
  display: inline-block;
  padding: rem-calc(0 0 14 30);
  background: url("../images/ico/phone-top.png") rem-calc(0 5) no-repeat;
  font-weight: 400;
}

@media #{$medium-up} {
  .phone-top {
    padding-top: rem-calc(14);
    background-position: rem-calc(0 19);
    text-align: left;
  }
}