.reviews {
  &-item {
    padding: 15px 0;
    border-bottom: 1px solid #ccc;

    &_header {
      margin-bottom: 15px;

      &-name {
        font-size: 15px;
        color: #2b2b2b;
      }

      &-date {
        font-size: 13px;
        color: #999;
      }
    }

    &_rating {
      margin-bottom: 15px;
      height: 22px;

      &-star {
        display: block;
        float: left;
        width: 22px;
        height: 22px;
        margin-left: 5px;
        background-image: url("../images/star.png");
        background-repeat: no-repeat;

        &-active {
          background-image: url("../images/star-active.png");
        }
      }
    }

    &_name {
      font-weight: 700;
      margin-bottom: 4px;
    }

    &_text {

    }
  }

  &-form {
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    padding: 20px 0 25px 0;

    &_content {
      width: 100%;
      max-width: 500px;

      &-item {

        &-name {
          color: #9e9e9e;
          font-size: 14px;
          margin-bottom: 10px;
        }

        &-value {
          margin-bottom: 1rem;

          & input[type="text"] {
            margin-bottom: 0;
          }
        }
      }
    }

    &_footer {
      width: 100%;
      max-width: 500px;

      &-button {
        text-align: center;

        & input[type="submit"] {
          font-size: 18px;
          line-height: 38px;
          border-radius: 5px;
          padding: 5px 20px;
          background-color: white;
          border: 1px solid #ccc;

          &:hover {
            background: #ebebeb;
          }
        }
      }
    }
  }

  &-add {
    position: absolute;
    top: 5px;
    right: 10px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 25px;
    color: black;
    transition: .4s all;

    &:hover {
      background-color: #fc0;
      color: black;
      border-color: transparent;
    }
  }
}

#reviews-rating {
  height: 22px;
  margin: 10px;
  position: relative;

  & input[type="radio"] {
    display: none;

    &:checked ~ label {
      background-image: url("../images/star-active.png");
    }
  }

  & label {
    display: block;
    float: left;
    width: 22px;
    height: 22px;
    margin-left: 5px;
    background-image: url("../images/star.png");
    background-repeat: no-repeat;

    &:hover {
      background-image: url("../images/star-active.png");
    }
    &:hover ~ label {
      background-image: url("../images/star-active.png");
    }
  }

  & #star-1 {
    position: absolute;
    left: 0px;
  }

  & #star-2 {
    position: absolute;
    left: 30px;
  }

  & #star-3 {
    position: absolute;
    left: 60px;
  }

  & #star-4 {
    position: absolute;
    left: 90px;
  }

  & #star-5 {
    position: absolute;
    left: 120px;
  }
}