{% extends "layout.twig" %}

{% block title %}Страница не найдена{% endblock %}

{% block main %}    
    
<div class="content-line">	
    <div class="row">
        
        <div class="large-12 columns" role="content">
          
			<hr>
		  
           <h2>Ошибка 404: страница не найдена</h2> 
		   
           
            <p>К сожалению, запрашиваемый Вами документ не найден на этом сервере.</p>
            <p>Наиболее частые причины, приводящие к данной ошибке, следующие:</p>
            <ul>
             <li>переход по ошибочной ссылке;</li>
             <li>неправильный ввод адреса.</li>
            </ul>
            <p>Решения:</p>
            <ul>
             <li>исправьте адрес, ошибочно набранный в адресной строке браузера;</li>
             <li>попробуйте начать поиск необходимого материала с <a href="/">главной страницы нашего сайта</a>.</li>
            </ul>           
               
        </div> 
                       
    </div>
</div>
             
{% endblock %} 