<ul class="left">
    <li><a href="/about/">О компании</a></li>
    <li><a href="/about/contacts">Контакты</a></li>
    <li><a href="http://www.cetera.ru/support/default.php?project=CRD&lang=ru">Сообщить об ошибке</a></li>
</ul>
