<div class="row">
    <div class="columns small-12">
        <div class="panel">
            <div class="row">
                <div class="columns small-12 medium-12 large-12">
                    <h2>Контакты редакции</h2>

                    <!--<h3>Адрес офиса</h3>
					<p>{{ widget.application.getServer().getTheme().config.address|raw }}</p> -->

                    <!--<h3>Телефон</h3>
                    <p>{{ widget.application.getServer().getTheme().config.phone|raw }}</p>-->

                    <h3>Email</h3>
                    <p><a href="mailto:info@wheretoinvest.ru">info@wheretoinvest.ru</a></p>

                </div>
            </div>
        </div>
    </div>
</div>
