# common, PHPStorm
.DS_Store
**/.idea
Thumbs.db

*.sql

# working: layout, wireframes etc
working/*
!working/layout

# site
www/*
vendor/*
!www/.gitignore
!www/local
!www/include
!www/robots.txt
!www/.htaccess
!www/working
!composer.json
!composer.lock
.env
db/*
tmp/*
