.content__wrp.content__wrp_sortable {
    display: block;
    padding: 0;
    margin-bottom: 10px;
    float: none;
    clear: both;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.sortable {
    position: relative;
    list-style-type: none;
    display: block;
    margin: 0 0 20px;
}

.sortable-highlight {
    display: block;
    height: 40px;
    margin-bottom: 10px;
    border: 1px dashed #202020;
    border-radius: 3px;
    opacity: 0.35;
}

.sortable-state-disabled {
    color: #9e9e9e;
}

input[type="checkbox"] + label, input[type="radio"] + label {
    margin: 0 0 5px !important;
    min-height: 40px;
    padding-left: 60px;
}

label.state__chck:before {
    left: 0 !important;
}

.b-form__title-desc.b-form__title-desc_method {
    display: inline-block;
    padding: 10px 10px 10px 80px;
    border: 1px solid #d0d0d0;
    border-radius: 8px;
    position: relative;
}

.b-form__title-desc.b-form__title-desc_method:before {
    display: inline-block;
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    left: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: url(images/info_icon.png) no-repeat center center;
    background-size: auto 70%;
}