.date-round {
  padding: rem-calc(30 0 0);
  margin: rem-calc(0 0 22);
  display: inline-block;
  width: rem-calc(120);
  height: rem-calc(120);
  text-align: center;
  font-size: rem-calc(16);
  line-height: rem-calc(30);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: $white-smoke;
}

.date-round__day {
  display: inline-block;
  color: $primary-color;
  font-size: rem-calc(40);
}