.date-square {
  padding: rem-calc(35 0 0);
  margin: rem-calc(0 0 22);
  display: inline-block;
  width: rem-calc(121);
  height: rem-calc(114);
  text-align: center;
  background: url("../images/date-square.png") center no-repeat;
  font-size: rem-calc(16);
  line-height: rem-calc(30);
}

.date-square__day {
  color: $primary-color;
  font-size: rem-calc(40);
}