.course {
  margin-top: 36px;
  &__red {
    color: #e53935;
  }
  &__usd, &__rur, &__eur {

    &:before {
      display: inline-block;
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      margin-left: -23px;
      background: url(../images/usd.png) no-repeat;
    }
  }
  &__rur {

    &:before {
      background: url(../images/rur.png) no-repeat;
    }

  }
  &__eur {

    &:before {
      background: url(../images/eur.png) no-repeat;
    }
  }
  &__title {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    border-bottom: 1px dashed #000;


  }

  .tabs {
    margin-top: 18px;

  }
  .tab-title {
    &.active  {
      left: -1px;
     a {
       border: 1px solid #e6e6e6;
       border-bottom: 0;
       padding-bottom: 11px;
       &:focus {
         outline: none;
       }
       &.course__usd {
         background: rgba(0, 199, 22, 0.42) !important;
       }
       &.course__eur {
         background: rgba(0, 0, 224, 0.39) !important;
       }
       &.course__rur {
         background: rgba(0, 0, 0, 0.42) !important;
       }
     }

    }
    a {
      padding-left: 46px;
      padding-right: 20px;
      padding-top: 9px;
      padding-bottom: 10px;
      background-color: #fff !important;
      margin-right: 2px;

      border: 1px solid #e6e6e6;
      color: #202020;
      font-size: 12px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }

}

.content {
  &.content_usd.active, &.content_usd.active .graph {
    background: rgba(0, 199, 22, 0.42);

  }
  &.content_rur.active, &.content_rur.active .graph {
    background: rgba(0, 0, 0, 0.42);

  }
  &.content_eur.active, &.content_eur.active .graph {
    background: rgba(0, 0, 224, 0.39);

  }

}

@media (max-width: 640px) {
  .course {
    .tab-title {
      a {
        padding-right: 15px;
        padding-left: 41px;
      }
    }
  }
}