.invest {
  &__head {
    background-color: #ebebeb;
    float: left;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  &__title {
    color: #202020;
    font-size: 12px;
    font-weight: 700;
    position: relative;
    width: calc(100% - 144px);
    padding-left: 20px;
    float: left;
    cursor: pointer;
    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      margin-left: 117px;
      background: url(../images/sel.png) no-repeat;

    }
  }
  &__who {
    float: left;
    color: #202020;
    font-size: 12px;
    width: 144px;
    font-weight: 700;
  }
  &__row {
    border-bottom: 1px solid #e6e6e6;
    float: left;
    width: 100%;

  }
  &__body {
    float: left;
    width: 100%;
  }

  &__deposite {
    padding-top: 16px;
    padding-bottom: 16px;
    float: left;
    color: #e53935;
    font-size: 12px;
    font-weight: 400;
    padding-left: 20px;
    width: calc(100% - 144px);
  }
  &__face {
    width: 144px;
    float: left;
    color: #202020;
    font-size: 12px;
    padding-left: 20px;
    &:before {
      display: inline-block;
      position: absolute;
      content: '';
      margin-left: -20px;
      width: 11px;
      height: 11px;
      background: url(../images/phys.png) no-repeat;

    }
    &_law {
      &:before {
        background: url(../images/yur.png) no-repeat;
      }
    }
    font-weight: 400;
    padding-top: 16px;

  }
  &__sentence {
    color: #0aa468;
    font-size: 12px;
    font-weight: 700;
    float: left;
    margin-top: 30px;
    text-transform: uppercase;
    border: 2px solid #0aa468;
    border-radius: 3px 2px 2px 3px;
    padding-left: 16px;
    transition:.5s;
    &:hover {
      background: #0aa468;
      color: #fff;
    }
    padding-right: 16px;
    padding-top: 9px;
    padding-bottom: 10px;
  }
}
@media (max-width:640px) {
    .invest {
      &__title,&__deposite {
        width:calc(100% - 100px);
      }
      &__who,&__face {
        width: 100px;
      }
      &__sentence {
        margin-left:calc(50% - 100px);
      }
    }
}