.state {
  margin-top: 16px;
  margin-bottom: 20px;
  &_high {
    margin-top: 36px;
  }
}
input.state__checkbox {
  display: none;
}

label.state__chck {
  color: #202020;
  font-size: 14px;
  font-weight: 400;
  padding-top: 12px;
  padding-left: 110px;

  &:after {
    position: absolute;
    top: 3px;
    left: 15px;


    display: block;

    width: 80px;
    height: 40px;
    margin-top: 0;

    content: '';

    background: url('../images/not-c.png') no-repeat;
  }
}

.state__checkbox:checked + label:after {
  width: 80px;
  height: 40px;

  background: url('../images/-c.png') no-repeat;
}
@media (max-width:640px) {
  label.state__chck {
    padding-top: 5px;
  }
}