<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js ie lt-ie9 lt-ie8 lt-ie7" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie ie9" lang="en"><![endif]-->
<!--[if !IE]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Рядовая страница</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="copyright" content="Создание сайтов - Cetera Labs, www.cetera.ru, 2015" />
    <meta name="author" content="Cetera Labs, http://www.cetera.ru/, создание сайтов, поддержка сайтов, продвижение сайтов" />
    <meta name="cmsmagazine" content="f21b68cb09efe1a7161ca2caaacaf749" />

    <link rel="stylesheet" href="./css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

    <script src="http://yastatic.net/modernizr/2.7.1/modernizr.min.js"></script>
</head>
<body>

<div class="row">
    <div class="columns small-12 medium-9 large-10">
        <nav class="menu-top small-only-text-center">
            <a href="#" class="menu-top__link">Запишитесь на бесплатный семинар</a>
            <a href="#" class="menu-top__link">Позовите на презентацию</a>
            <a href="#" class="menu-top__link">Свяжитесь с нами</a>
            <a href="#" class="menu-top__link">Оцените работу</a>
            <a href="#" class="menu-top__link">Подайте жалобу</a>
        </nav>
    </div>
    <div class="columns small-12 medium-3 large-2 small-text-center medium-text-right">
        <div class="phone-top">+7 (499) 918-43-57</div>
    </div>
</div>

<div class="menu">
    <div class="contain-to-grid">
        <nav class="top-bar" data-topbar role="navigation">
            <ul class="title-area">
                <li class="name">
                    <span><a href="#"><img src="./images/logo.png"></a></span>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
            </ul>
            <div class="top-bar-section">
                <ul class="left">
                    <li><a href="#">Сайты</a></li>
                    <li><a href="#">Магазины</a></li>
                    <li><a href="#">Мобильные</a></li>
                    <li><a href="#">CRM</a></li>
                    <li><a href="#">Порталы</a></li>
                    <li><a href="#">Лендинги</a></li>
                    <li><a href="#">Конверсия</a></li>
                    <li><a href="#">Реклама</a></li>
                    <li><a href="#">Семинары</a></li>
                </ul>
                <ul class="right">
                    <li><a href="#"><span><img src="./images/ico/search.png"></span></a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<div class="content-line content-line_image" style="background-image: url(./i/macbook.jpg)">
    <div class="row">
        <div class="columns small-12 medium-8 large-5 large-offset-1 end">
            <h1>Быстрее всех создадим сайт</h1>
            <p>Предлагаем услуги создания сайтов: быстрый запуск сайтов с последующимразвитием, поддержкой и продвижением за фиксированную абонентскую плату.</p>
            <a href="#" class="button small">Узнайте цены</a>
        </div>
    </div>
</div>

<div class="content-line">
    <div class="row">
        <div class="columns small-12">
            <nav class="breadcrumbs">
                <a href="#">Главная</a>
                <a href="#">Сайты</a>
                <a class="unavailable" href="#">Создадим сайты</a>
                <a class="current" href="#">Страница</a>
            </nav>
        </div>
    </div>
</div>

<div class="content-line">
    <div class="row">
        <div class="columns small-12">
            <ul class="small-block-grid-1 medium-block-grid-3" data-equalizer="advantages">
                <li>
                    <div class="panel text-center" data-equalizer-watch="advantages">
                        <p><img src="./i/speed.png" alt=""></p>
                        <h2>Скорость</h2>
                        <p>Используем готовую к установке <a href="#">Cetera CMS</a>. Откроем первую версию сайта в течение 3 дней. Привлечем клиентов сразу. Разовьём сайт под контролем аналитических инструментов. Нарисуем макет параллельно с программированием, версткой и публикацией.</p>
                    </div>
                </li>
                <li>
                    <div class="panel text-center" data-equalizer-watch="advantages">
                        <p><img src="./i/quality.png" alt=""></p>
                        <h2>Качество</h2>
                        <p>Откроем сайт в индивидуальном <a href="#">дизайне</a>. Напишем тексты. Используем совместимые <a
                                href="#">технологии</a>. Обеспечим исполнение стандартов. Выполним <a href="#">соглашение об уровне сервиса</a>. Предоставим
                            <a href="#">обученных специалистов</a>.</p>
                    </div>
                </li>
                <li>
                    <div class="panel text-center" data-equalizer-watch="advantages">
                        <p><img src="./i/price.png" alt=""></p>
                        <h2>Цена</h2>
                        <p>Окажем услуги за одинаковую абонентскую плату на всех этапах сотрудничества. Не выделим стоимости создания сайта. Не потребуем оплаты лицензий. Откроем первую версию сайта еще до первого платежа.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="content-line content-line_image content-line_dark" style="background-image: url(./i/people.jpg)">
    <div class="row">
        <div class="columns small-12 medium-10 large-6 small-centered text-center">
            <h2>Требуется создание сайта?<br>Пригласите нас на презентацию</h2>
            <p>Расскажем, где найти клиентов для вашего бизнеса. За 5 минут изложим ключевые тезисы нашего предложения. Поможем организовать проект создания сайта. Предоставим план создания сайта. И ответим на все ваши вопросы сразу.</p>
            <a href="#" class="button small">Узнайте стоимость сайта на презентации ›</a>
        </div>
    </div>
</div>

<div class="row x-slick">
    <div>
        <div class="columns small-4 medium-5 large-4 medium-offset-1 large-offset-2 text-center">
            <img src="./i/fast-start.png" alt="">
        </div>
        <div class="columns small-8 medium-5 large-4 end">
            <h2>Быстрый старт</h2>
            <p>Откроем сайт в индивидуальном дизайне за 3 дня. Используем Cetera CMS и методологию запуска собственного авторства.</p>
        </div>
    </div>
    <div>
        <div class="columns small-4 medium-5 large-4 medium-offset-1 large-offset-2 text-center">
            <img src="./i/site-clients.png" alt="">
        </div>
        <div class="columns small-8 medium-5 large-4 end">
            <h2>Сайт и клиенты</h2>
            <p>Откроем сайт. Обеспечим поддержкой и развитием. Привлечем покупателей. Конвертируем в заявки. Организуем продажи.</p>
        </div>
    </div>
    <div>
        <div class="columns small-4 medium-5 large-4 medium-offset-1 large-offset-2 text-center">
            <img src="./i/complex.png" alt="">
        </div>
        <div class="columns small-8 medium-5 large-4 end">
            <h2>Абонентское обслуживание</h2>
            <p>Удобный для клиентов формат обслуживания. Все услуги — по единой фиксированной цене. Часто — нулевая стоимость сайта до открытия.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="columns small-12">
        <hr>
    </div>
</div>

<div class="row">
    <div class="columns small-12 text-center">
        <h2>Наши клиенты</h2>
        <img class="client-logo" src="./i/clients/henkel.png" alt="">
        <img class="client-logo" src="./i/clients/gazprom.png" alt="">
        <img class="client-logo" src="./i/clients/loko.png" alt="">
        <img class="client-logo" src="./i/clients/yamaha.png" alt="">
        <img class="client-logo" src="./i/clients/b2.png" alt="">
        <img class="client-logo" src="./i/clients/navicon.png" alt="">
        <img class="client-logo" src="./i/clients/r-style.png" alt="">
    </div>
</div>

<div class="row">
    <div class="columns small-12">
        <hr>
    </div>
</div>

<div class="row">
    <div class="columns small-12 text-center">
        <h2>Как еще нам убедить вас?</h2>
        <ul class="small-block-grid-1 medium-block-grid-2" data-equalizer="conviction">
            <li>
                <div class="panel text-center" data-equalizer-watch="conviction">
                    <p><img src="./i/call.png" alt=""></p>
                    <h2>Позвоните нашим<br>текущим клиентам</h2>
                    <p>Предоставим прямые телефоны наших текущихклиентов.<br>Узнайте правду из первых уст.</p>
                </div>
            </li>
            <li>
                <div class="panel text-center" data-equalizer-watch="conviction">
                    <p><img src="./i/ten.png" alt=""></p>
                    <h2>Выделим 10 специалистов<br>по цене 1</h2>
                    <p>Предоставим проектную команду из 10 разных специалистов.<br>Дешевле, чем оклад 1 квалифицированного программиста.</p>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="content-line content-line_image content-line_dark" style="background-image: url(./i/right-tech.jpg)">
    <div class="row">
        <div class="columns small-12 medium-10 large-6 small-centered text-center">
            <p>&nbsp;</p>
            <h2>Правильные технологии</h2>
            <p>Используем популярные и открытые технологии.<br>Есличто-то пойдёт не так, вы легко смените подрядчика. </p>
            <a href="#" class="button small">Узнать подробности ›</a>
        </div>
    </div>
</div>

<div class="content-line">
    <div class="row">
        <div class="columns hide-for-small medium-5 large-4 medium-offset-1 large-offset-2 text-center">
            <img src="./i/present.png" alt="">
        </div>
        <div class="columns small-12 medium-5 large-4 end">
            <p class="hide-for-small">&nbsp;</p>
            <h2>Бесплатный тест наших услуг!</h2>
            <p>Все наши услуги до конца месяца — за счёт Cetera. Мы успеем открыть сайт или дать рекомендации по его развитию. Успеем наладить приток клиентов, решить инфраструктурные проблемы, исполнить несколько горящих задач.</p>
            <a href="#" class="button small">Получите предложение по созданию сайта ›</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="columns small-12">
        <hr>
    </div>
</div>

<div class="row">
    <div class="columns small-12">
        <ul class="tabs" data-tab>
            <li class="tab-title active"><a href="#panel1">Прозрачность и контроль</a></li>
            <li class="tab-title"><a href="#panel2">Консультации и знания</a></li>
            <li class="tab-title"><a href="#panel3">Отличная доступность</a></li>
            <li class="tab-title"><a href="#panel4">Эффективные процедуры</a></li>
        </ul>
        <div class="tabs-content">
            <div class="content active" id="panel1">
                <div class="row">
                    <div class="columns small-4 medium-5 large-4 medium-offset-1 large-offset-2 text-center">
                        <img src="./i/complex.png" alt="">
                    </div>
                    <div class="columns small-8 medium-5 large-4 end">
                        <p class="text-big">Ежедневные Email-отчеты. Система управления проектами — лучшая на рынке. Наглядность системы — настройки отображения на основе непрерывных 5-летних опросов Клиентов. Ежемесячный одностраничный отчет для вашего руководителя за личной подписью нашего директора.</p>
                    </div>
                </div>
            </div>
            <div class="content" id="panel2">
                <div class="row">
                    <div class="columns small-4 medium-5 large-4 medium-offset-1 large-offset-2 text-center">
                        <img src="./i/complex.png" alt="">
                    </div>
                    <div class="columns small-8 medium-5 large-4 end">
                        <p class="text-big">Ежедневные Email-отчеты. Система управления проектами — лучшая на рынке. Наглядность системы — настройки отображения на основе непрерывных 5-летних опросов Клиентов. Ежемесячный одностраничный отчет для вашего руководителя за личной подписью нашего директора.</p>
                    </div>
                </div>
            </div>
            <div class="content" id="panel3">
                <div class="row">
                    <div class="columns small-4 medium-5 large-4 medium-offset-1 large-offset-2 text-center">
                        <img src="./i/complex.png" alt="">
                    </div>
                    <div class="columns small-8 medium-5 large-4 end">
                        <p class="text-big">Удобный для клиентов формат обслуживания. Все услуги — по единой фиксированной цене. Часто — нулевая стоимость сайта до открытия.</p>
                        <p class="text-big">Ежедневные Email-отчеты. Система управления проектами — лучшая на рынке. Наглядность системы — настройки отображения на основе непрерывных 5-летних опросов Клиентов. Ежемесячный одностраничный отчет для вашего руководителя за личной подписью нашего директора.</p>
                    </div>
                </div>
            </div>
            <div class="content" id="panel4">
                <div class="row">
                    <div class="columns small-4 medium-5 large-4 medium-offset-1 large-offset-2 text-center">
                        <img src="./i/complex.png" alt="">
                    </div>
                    <div class="columns small-8 medium-5 large-4 end">
                        <p class="text-big">Ежедневные Email-отчеты. Система управления проектами — лучшая на рынке. Наглядность системы — настройки отображения на основе непрерывных 5-летних опросов Клиентов. Ежемесячный одностраничный отчет для вашего руководителя за личной подписью нашего директора.</p>
                        <p class="text-big">Удобный для клиентов формат обслуживания. Все услуги — по единой фиксированной цене. Часто — нулевая стоимость сайта до открытия.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="columns small-12">
        <hr>
    </div>
</div>

<div class="row">
    <div class="columns small-12">
        <div data-alert class="alert-box" tabindex="0" aria-live="assertive" role="alertdialog">
            Your content goes here
            <button tabindex="0" class="close" aria-label="Close Alert">&times;</button>
        </div>
        <h2 class="text-center">Калькулятор комплексного обслуживания</h2>
        <h3 class="text-center">Выберите необходимый набор услуг &mdash; получите предложение через 5 минут</h3>
        <div class="panel">
            <div class="row">
                <div class="columns small-12 medium-10 small-centered">
                    <form>
                        <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
                            <li>
                                <div class="switch">
                                    <input id="exampleCheckboxSwitch0" type="checkbox">
                                    <label class="left" for="exampleCheckboxSwitch0"></label>
                                    <div class="switch-text">Консультирование</div>
                                </div>
                            </li>
                            <li>
                                <div class="switch">
                                    <input id="exampleCheckboxSwitch1" type="checkbox">
                                    <label class="left" for="exampleCheckboxSwitch1"></label>
                                    <div class="switch-text">Дизайн (сайты, баннеры, схемыи прочие изображения для нуждинтернета)</div>
                                </div>
                            </li>
                            <li>
                                <div class="switch">
                                    <input id="exampleCheckboxSwitch2" type="checkbox">
                                    <label class="left" for="exampleCheckboxSwitch2"></label>
                                    <div class="switch-text">Вёрстка HTML-страниц и сайтов</div>
                                </div>
                            </li>
                            <li>
                                <div class="switch">
                                    <input id="exampleCheckboxSwitch3" type="checkbox">
                                    <label class="left" for="exampleCheckboxSwitch3"></label>
                                    <div class="switch-text">Программирование</div>
                                </div>
                            </li>
                            <li>
                                <div class="switch">
                                    <input id="exampleCheckboxSwitch4" type="checkbox">
                                    <label class="left" for="exampleCheckboxSwitch4"></label>
                                    <div class="switch-text">Тестирование разработанныхсайтов и сервисов</div>
                                </div>
                            </li>
                            <li>
                                <div class="switch">
                                    <input id="exampleCheckboxSwitch5" type="checkbox">
                                    <label class="left" for="exampleCheckboxSwitch5"></label>
                                    <div class="switch-text">Размещение сайтов илиадминистрирование серверов</div>
                                </div>
                            </li>
                            <li>
                                <div class="switch">
                                    <input id="exampleCheckboxSwitch6" type="checkbox">
                                    <label class="left" for="exampleCheckboxSwitch6"></label>
                                    <div class="switch-text">Публикация текстовых материалов на сайты</div>
                                </div>
                            </li>
                            <li>
                                <div class="switch">
                                    <input id="exampleCheckboxSwitch7" type="checkbox">
                                    <label class="left" for="exampleCheckboxSwitch7"></label>
                                    <div class="switch-text">Обучение Заказчика использованию сайтов</div>
                                </div>
                            </li>
                            <li>
                                <div class="switch">
                                    <input id="exampleCheckboxSwitch8" type="checkbox">
                                    <label class="left" for="exampleCheckboxSwitch8"></label>
                                    <div class="switch-text">Интеграция с внешнимисистемами</div>
                                </div>
                            </li>
                            <li>
                                <div class="switch">
                                    <input id="exampleCheckboxSwitch9" type="checkbox">
                                    <label class="left" for="exampleCheckboxSwitch9"></label>
                                    <div class="switch-text">Управление продвижением</div>
                                </div>
                            </li>
                        </ul>
                        <hr>
                        <div class="row">
                            <div class="small-12 columns">
                                <div class="range-slider" data-slider>
                                    <span class="range-slider-handle" role="slider" tabindex="0"></span>
                                    <span class="range-slider-active-segment"></span>
                                    <input type="hidden">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-6 columns">
                                <label>Choose Your Favorite</label>
                                <input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Red</label>
                                <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Blue</label>
                            </div>
                            <div class="large-6 columns">
                                <label>Check these out</label>
                                <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
                                <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="large-12 columns">
                                <label>Input Label
                                    <input type="text" placeholder="large-12.columns" />
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-4 columns">
                                <label>Input Label
                                    <input type="text" placeholder="large-4.columns" />
                                </label>
                            </div>
                            <div class="large-4 columns">
                                <label>Input Label
                                    <input type="text" placeholder="large-4.columns" />
                                </label>
                            </div>
                            <div class="large-4 columns">
                                <div class="row collapse">
                                    <label>Input Label</label>
                                    <div class="small-9 columns">
                                        <input type="text" placeholder="small-9.columns" />
                                    </div>
                                    <div class="small-3 columns">
                                        <span class="postfix">.com</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 columns">
                                <label>Select Box
                                    <select>
                                        <option value="husker">Husker</option>
                                        <option value="starbuck">Starbuck</option>
                                        <option value="hotdog">Hot Dog</option>
                                        <option value="apollo">Apollo</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 columns">
                                <label>Textarea Label
                                    <textarea placeholder="small-12.columns"></textarea>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 columns text-center">
                                <button type="button" class="button small">Получите предложение через 5 минут ›</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="columns small-12">
        <hr>
    </div>
</div>

<div class="row">
    <div class="columns small-12">
        <h2>Новости компании</h2>
        <ul class="small-block-grid-1 medium-block-grid-3" data-equalizer="news">
            <li>
                <div class="panel text-center" data-equalizer-watch="news">
                    <span class="date-square">
                        <span class="date-square__day">03</span><br>08.2015
                    </span>
                    <h2><a href="#">Приняли на комплексное обслуживание новый сайт</a></h2>
                    <p>Приняли на комплексное обслуживание компанию «СантехОпт». Разработаем несколько интернет-магазинов по продаже сантехники. Проект будет развиваться по методологии «Быстрый старт».</p>
                </div>
            </li>
            <li>
                <div class="panel text-center" data-equalizer-watch="news">
                    <span class="date-square">
                        <span class="date-square__day">15</span><br>07.2015
                    </span>
                    <h2><a href="#">Внедрение нового решения</a></h2>
                    <p>Cetera внедряет новое решение для сайта ООО «Всем Хорошо». Существующий сайт — <a href="#">http://fatin.ru/</a></p>
                </div>
            </li>
            <li>
                <div class="panel text-center" data-equalizer-watch="news">
                    <span class="date-square">
                        <span class="date-square__day">21</span><br>06.2015
                    </span>
                    <h2><a href="#">DDOS-атака на сайт СМИ</a></h2>
                    <p>DDOS-атака на сайт обслуживаемого СМИ. Началась сегодня около 16:00 МСК. Около 300 запросов в секунду. Все с разных адресов, с разным referer и user-agent. Битрикс не выдержал сразу, пока побороли на уровне хитрых настроек сервера. Поток запросов штатно держим nginx, живых пользователей перебрасываем на новый адрес, боты остаются со страницей-пустышкой.</p>
                </div>
            </li>
        </ul>
        <div class="pagination-centered">
            <ul class="pagination">
                <li class="arrow unavailable"><a href="">&laquo;</a></li>
                <li class="current"><a href="">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">4</a></li>
                <li class="unavailable"><a href="">&hellip;</a></li>
                <li><a href="">12</a></li>
                <li><a href="">13</a></li>
                <li class="arrow"><a href="">&raquo;</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="columns small-12">
        <hr>
    </div>
</div>

<div class="row">
    <div class="columns small-12 medium-7 large-8">
        <h1>Заголовок h1</h1>
        <h2>Заголовок h2</h2>
        <h3>Заголовок h3</h3>
        <p>Достаточное условие сходимости, следовательно, порождает предел последовательности, откуда следует доказываемое равенство. Однако не все знают, что интеграл от функции, имеющий конечный разрыв изящно переворачивает экспериментальный интеграл Пуассона, что известно даже школьникам. Огибающая отражает нормальный расходящийся ряд, откуда следует доказываемое равенство. Несмотря на сложности, критерий интегрируемости поддерживает многочлен, что и требовалось доказать. Ссылка в тексте. Достаточное условие сходимости концентрирует действительный тройной интеграл, откуда следует доказываемое равенство. Асимптота, конечно, расточительно позиционирует косвенный интеграл Пуассона, каки предполагалось.</p>

        <p>Непрерывная функция накладывает интеграл Дирихле, что несомненно приведет нас к истине. Сумма ряда, следовательно, переворачивает многомерный график функции, как и предполагалось. Очевидно проверяется, что огибающая позиционирует абстрактный интеграл от функции, обращающейся в бесконечность вдоль линии, что несомненно приведет нас к истине. Постоянная величина специфицирует разрыв функции, дальнейшие выкладки оставим студентам в качестве несложной домашней работы.</p>


        <blockquote>Отсюда естественно следует, что первообразная функция очевидна не для всех. Лист Мёбиуса, как следует из вышесказанного, продуцирует график функции многих переменных, таким образом сбылась мечта идиота - утверждение полностью доказано. Векторное поле, общеизвестно, однородно поддерживает экстремум функции, как и предполагалось. Детерминант правомочен. Частная производная трансформирует интеграл от функции комплексной переменной, что и требовалось доказать. Криволинейный интеграл упорядочивает критерий сходимости Коши, что известно даже школьникам.</blockquote>


        <p>Функция выпуклая книзу очевидна не для всех. Отсюда естественно следует, что сумма ряда по-прежнему востребована. Подмножество, не вдаваясь в подробности, искажает критерий сходимости Коши, откуда следует доказываемое равенство.</p>


        <h3>Нумерованный список:</h3>

        <ol>
            <li>Непрерывная функция.</li>
            <li>Сумма ряда.</li>
            <li>Достаточное условие</li>
        </ol>


        <h3>Маркированный список:</h3>

        <ul>
            <li>Непрерывная функция</li>
            <li>Сумма ряда</li>
            <li>Достаточное условие</li>
        </ul>

    </div>
    <div class="columns small-12 medium-5 large-4">
        <div class="panel">
            <ul class="side-nav">
                <li><a href="#">О портале</a></li>
                <li><a href="#">Условия пользования</a></li>
                <li><a href="#">Реклама на портале</a></li>
                <li><a href="#">Партнёры</a></li>
                <li><a href="#">Контактная информацияи</a></li>
                <li><a href="#">О портале</a></li>
                <li><a href="#">Условия пользования</a></li>
                <li><a href="#">Реклама на портале</a></li>
                <li><a href="#">Контактная информацияи по партнерам</a></li>
                <li><a href="#">О портале</a></li>
                <li><a href="#">Условия пользования</a></li>
                <li><a href="#">Реклама на портале</a></li>
                <li><a href="#">Партнёры</a></li>
                <li><a href="#">Контактная информацияи</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="columns small-12">
        <hr>
    </div>
</div>

<div class="row">
    <div class="columns small-12">
        <h2 class="text-center">О выборе хостинга</h2>
        <table>
            <thead>
            <tr>
                <th>Table Header</th>
                <th>Table Header</th>
                <th>Table Header</th>
                <th>Table Header</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Content Goes Here</td>
                <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
                <td>Content Goes Here</td>
                <td>Content Goes Here</td>
            </tr>
            <tr>
                <td>Content Goes Here</td>
                <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
                <td>Content Goes Here</td>
                <td>Content Goes Here</td>
            </tr>
            <tr>
                <td>Content Goes Here</td>
                <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
                <td>Content Goes Here</td>
                <td>Content Goes Here</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="columns small-12">
        <hr>
    </div>
</div>

<div class="row">
    <div class="columns small-12">
        <h2>Поиск</h2>
        <form>
            <div class="row">
                <div class="small-12 medium-6 large-4 columns">
                    <label>
                        <input type="text" placeholder="Поиск" />
                    </label>
                </div>
                <div class="small-6 medium-3 large-2 columns">
                    <label>
                        <select>
                            <option value="husker">Везде</option>
                            <option value="husker">Husker</option>
                            <option value="starbuck">Starbuck</option>
                            <option value="hotdog">Hot Dog</option>
                            <option value="apollo">Apollo</option>
                        </select>
                    </label>
                </div>
                <div class="small-6 medium-3 large-2 end columns">
                    <div class="row collapse">
                        <button type="button" class="button tiny">Искать</button>
                    </div>
                </div>
            </div>
        </form>
		
        <p>Резульаты поиска 1-20 из 200</p>
        <ul class="pagination">
            <li class="arrow unavailable"><a href="">&laquo;</a></li>
            <li class="current"><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>
            <li><a href="">4</a></li>
            <li class="unavailable"><a href="">&hellip;</a></li>
            <li><a href="">12</a></li>
            <li><a href="">13</a></li>
            <li class="arrow"><a href="">&raquo;</a></li>
        </ul>
        <hr>
        <h2><a href="#">«1С-Битрикс: Управление сайтом 15.5»: Скорость сайта</a></h2>
        <p>... ваш сайт? Взгляните на сайт глазами посетителей. Насколько быстро загружается ваш сайт? Можете ... зрения клиента - насколько быстро отображается сайт, насколько быстро откроется нужная ... Проверьте скорость собственного сайта! Увидеть сайт глазами посетителей! Новый облачный сервис ... Включите технологии «1С-Битрикс»: Композитный сайт Технология кеширования : автокеширование, html-кеширование ... композитной технологии Революционная технология «Композитный сайт» позволяет достичь невероятной скорости отклика ...</p>
        <p>Изменен: 12.05.2015<br>Путь: <a href="#">Главная</a> / <a href="#">Продукты</a> / <a href="#">Управление сайтом</a> /
            <a href="#">Что нового?</a></p>
        <hr>
        <h2><a href="#">«1С-Битрикс: Управление сайтом 15.5»: Скорость сайта</a></h2>
        <p>... ваш сайт? Взгляните на сайт глазами посетителей. Насколько быстро загружается ваш сайт? Можете ... зрения клиента - насколько быстро отображается сайт, насколько быстро откроется нужная ... Проверьте скорость собственного сайта! Увидеть сайт глазами посетителей! Новый облачный сервис ... Включите технологии «1С-Битрикс»: Композитный сайт Технология кеширования : автокеширование, html-кеширование ... композитной технологии Революционная технология «Композитный сайт» позволяет достичь невероятной скорости отклика ...</p>
        <p>Изменен: 12.05.2015<br>Путь: <a href="#">Главная</a> / <a href="#">Продукты</a> / <a href="#">Управление сайтом</a> /
            <a href="#">Что нового?</a></p>
        <hr>
        <h2><a href="#">«1С-Битрикс: Управление сайтом 15.5»: Скорость сайта</a></h2>
        <p>... ваш сайт? Взгляните на сайт глазами посетителей. Насколько быстро загружается ваш сайт? Можете ... зрения клиента - насколько быстро отображается сайт, насколько быстро откроется нужная ... Проверьте скорость собственного сайта! Увидеть сайт глазами посетителей! Новый облачный сервис ... Включите технологии «1С-Битрикс»: Композитный сайт Технология кеширования : автокеширование, html-кеширование ... композитной технологии Революционная технология «Композитный сайт» позволяет достичь невероятной скорости отклика ...</p>
        <p>Изменен: 12.05.2015<br>Путь: <a href="#">Главная</a> / <a href="#">Продукты</a> / <a href="#">Управление сайтом</a> /
            <a href="#">Что нового?</a></p>
        <hr>
        <ul class="pagination">
            <li class="arrow unavailable"><a href="">&laquo;</a></li>
            <li class="current"><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>
            <li><a href="">4</a></li>
            <li class="unavailable"><a href="">&hellip;</a></li>
            <li><a href="">12</a></li>
            <li><a href="">13</a></li>
            <li class="arrow"><a href="">&raquo;</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="columns small-12">
        <hr>
    </div>
</div>

<div class="row">
    <div class="columns large-10 small-centered">
        <h2 class="text-center">Свяжитесь с менеджером</h2>
        <ul class="button-group stack-for-small round even-3">
            <li><a href="#" class="button">+7 (499) 918-43-57</a></li>
            <li><a href="#" class="button">Перезвоним за 20 секунд</a></li>
            <li><a href="#" class="button">welcome@cetera.ru</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="columns small-12">
        <div class="text-center"><img src="./i/girls.jpg" alt=""></div>
        <div class="panel">
            <div class="row">
                <div class="columns small-12 medium-5 large-4">
                    <h2>Главный офис</h2>

                    <h3>Адрес офиса</h3>
                    <p>проспект Ленина, дом 25, 6 этаж, офис 606 (Адрес для курьера)</p>

                    <h3>Телефоны</h3>
                    <p>+7 (499) 918-43-57<br>
                        Новые Клиенты — нажмите «0»<br>
                        Текущие Клиенты — добавочные и мобильные телефоны проектных менеджеров.<br>
                        +7 (905) 134-51-91 (резервный круглосуточный номер для действительно самых экстренных ситуаций).
                    </p>

                    <h3>Email</h3>
                    <p><a href="#">welcome@ceteralabs.ru</a> — для новых Клиентов.<br>
                        <a href="#">support@ceteralabs.ru</a> — для текущих Клиентов.<br>
                        <a href="#">hr@ceteralabs.ru</a> — для кандидатов в коллеги.</p>

                    <h3>Почтовый адрес</h3>
                    <p>Кому: ООО «Цетера Лабс»
                        Куда: 150040, г.Ярославль, п/о 40, а/я 62</p>


                </div>
                <div class="columns small-12 medium-7 large-8">
                    <div class="map-contacts">
                        <script src="http://api-maps.yandex.ru/2.1/?load=package.standard&lang=ru-RU" type="text/javascript"></script>
                        <script type="text/javascript">
                            var myMap;
                            ymaps.ready(init);
                            function init () {
                                myMap = new ymaps.Map('contacts_map', {
                                    center:[57.636042, 39.869011],
                                    zoom:17,
                                    controls: ["fullscreenControl"]
                                });

                                var zoomControl = new ymaps.control.ZoomControl({
                                    options: {
                                        size: "small",
                                        position: { right: 10, top: 200 }
                                    }
                                });
                                myMap.controls.add(zoomControl);

                                myMap.behaviors.disable('scrollZoom');

                                myPlacemark = new ymaps.Placemark([57.636042, 39.869011], {
                                    balloonContentHeader: "Центральный офис Cetera Labs",
                                    balloonContentBody: "г. Ярославль, проспект Ленина, 25, офис 606<br />телефон: +7 (499) 918-43-57"}, {

                                    iconColor: "#f04124"
                                });

                                myMap.geoObjects.add(myPlacemark);
                            }
                        </script>
                        <div class="map-contacts__map" id="contacts_map"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="columns small-12">
        <hr>
    </div>
</div>

<div class="row">
    <div class="columns small-12 medium-6 large-3">
        <h5>Загрузите материалы</h5>
        <p>
            <a href="#">Чеклист SEO</a><br>
            <a href="#">Чеклист конверсии</a><br>
            <a href="#">Чеклист объявлений</a><br>
            <a href="#">Шаблон договора на обслуживание</a><br>
            <a href="#">Шаблон ТЗ на создание сайта</a><br>
            <a href="#">Другие полезные и бесплатные материалы</a>
        </p>
    </div>
    <div class="columns small-12 medium-6 large-3">
        <h5>Демо-версия Cetera CMS</h5>
        <p>Производительная, быстрая в управлении и оптимизированная для поисковых систем система управления сайтами.</p>
        <p><a href="#" class="button tiny">Посмотрите демо</a><br>Прочтите описание <a href="#">Cetera CMS</a></p>
    </div>
    <div class="columns small-12 medium-6 large-3">
        <h5>Миссия Cetera</h5>
        <p>Эффективнее всех конкурентов находить в интернете потребителей для наших Клиентов. Быть самым клиентоориентированным, коммуникабельным и вежливым подрядчиком на рынке. Обучать Сотрудников и обеспечивать долгосрочной и современной работой на взаимовыгодных условиях.</p>
        <p><a href="#">Узнайте подробности</a></p>
    </div>
    <div class="columns small-12 medium-6 large-3">
        <h5>Ссылки для Клиентов</h5>

        <p>
            <a href="#">Управление проектами</a><br>
            <a href="#">Документация и отчетность</a><br>
            <a href="#">Контакты менеджеров</a><br>
            <a href="#">Поговорить с руководителем</a>
        </p>
    </div>
</div>

<div class="row">
    <div class="columns small-12">
        <hr>
    </div>
</div>

<div class="row">
    <div class="columns small-12">
        <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-6" data-equalizer="news">
            <li>
                <p><a href="#">Сайты</a></p>
                <p>
                    <a href="#">Комплексное обслуживание</a><br>
                    <a href="#">Развитие сайтов</a><br>
                    <a href="#">Поддержка сайтов</a><br>
                    <a href="#">Портфолио</a><br>
                    <a href="#">Cetera CMS</a><br>
                    <a href="#">Отраслевые решения</a>
                </p>
            </li>
            <li>
                <p><a href="#">Магазины</a></p>
                <p>
                    <a href="#">Отраслевой опыт</a><br>
                    <a href="#">Многоканальная электронная коммерция</a><br>
                    <a href="#">1С-Битрикс: Управление сайтом</a><br>
                    <a href="#">Интеграция с 1С</a><br>
                </p>
            </li>
            <li>
                <p><a href="#">Мобильные</a></p>
                <p>
                    <a href="#">Мобильное приложение для магазинов</a><br>
                    <a href="#">Интернет-СМИ</a><br>
                    <a href="#">Радиостанции</a>
                </p>
            </li>
            <li>
                <p><a href="#">CRM</a></p>
                <p>
                    <a href="#">Cetera CRM — автоматизация продаж и рекламы</a><br>
                    <a href="#">Cetera Call — звонки с сайта</a><br>
                    <a href="#">Cetera MobiTorg — автоматизация торговых представителей</a>
                </p>
            </li>
            <li>
                <p><a href="#">Порталы</a></p>
                <p>
                    <a href="#">Корпоративные порталы</a><br>
                    <a href="#">Бесплатный облачный CRM «Битрикс24»</a><br>
                    <a href="#">1С-Битрикс: Корпоративный портал</a><br>
                    <a href="#">Готовые решения</a>
                </p>
            </li>
            <li>
                <p><a href="#">Реклама</a></p>
                <p>
                    <a href="#">Контекстная реклама</a><br>
                    <a href="#">Поисковая оптимизация</a><br>
                    <a href="#">Ретаргетинг</a><br>
                    <a href="#">Социальные сети</a>
                </p>
            </li>
        </ul>
    </div>
</div>

<div class="menu-footer">
    <div class="contain-to-grid">
        <nav class="top-bar" data-topbar role="navigation">
            <ul class="title-area">
                <li class="name">
                    <span><a href="#"><img src="./images/logo.png"></a></span>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
            </ul>
            <div class="top-bar-section">
                <ul class="left">
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Контактная информация</a></li>
                    <li><a href="#">Сообщить об ошибке</a></li>
                </ul>
                <ul class="right">
                    <li><a href="#"><span><img src="./images/ico/vk.png"></span></a></li>
                    <li><a href="#"><span><img src="./images/ico/fb.png"></span></a></li>
                    <li><a href="#"><span><img src="./images/ico/mail.png"></span></a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<script src="http://yastatic.net/jquery/1.11.2/jquery.min.js"></script>
<script src="./js/vendor/foundation/foundation.js"></script>
<script src="./js/vendor/foundation/foundation.alert.js"></script>
<script src="./js/vendor/foundation/foundation.equalizer.js"></script>
<script src="./js/vendor/foundation/foundation.slider.js"></script>
<script src="./js/vendor/foundation/foundation.tab.js"></script>
<script src="./js/vendor/foundation/foundation.topbar.js"></script>
<script src="./js/vendor/slick.min.js"></script>
<script src="./js/common.js"></script>
</body>
</html>