.i-mistake__btn {
    position: fixed;
    top: 50%;
    margin-top: -150px;
    width: 36px;
    text-align: center;
    border-radius: 0 3px 3px 0;
    padding: 10px;
    z-index: 100;
    word-wrap: break-word;
    line-height: 17px;
}

.i-mistake__btn-help {
    border: 2px solid #ffffff !important;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 14px;
    cursor: help;
    display: inline-block;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
    text-indent: 1px;
    color: #ffffff;
    left: -2px;
    position: relative;
}

.i-mistake__btn-help_wrapper {
    display: inline-block;
}

.i-form__textarea_large {
    height: 200px;
}

.i-mistake__btn_margin {
    display: inline-block;
    margin: 5px 0;
    word-wrap: break-word;
    width: 100%;
}