.i-mistake__btn {
    position: fixed;
    top: 50%;
    margin-top: -20px;
    transform: rotate(90deg);
    width: 210px;
    z-index: 100;
    left: -85px;
}

.i-mistake__btn-help {
    border: 2px solid #ffffff !important;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 14px;
    transform: rotate(-90deg);
    cursor: help;
    display: inline-block;
    margin-right: 7px;
    font-size: 12px;
    font-weight: bold;
    text-indent: 1px;
    color: #ffffff;
}

.i-mistake__btn-help_wrapper {
    display: inline-block;
}

.i-form__textarea_large {
    height: 200px;
}