.calendar {
  border: rem-calc(1) solid $gainsboro;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: rem-calc(14);
  font-weight: normal;
}

.calendar__th {
  font-weight: normal;
  padding: rem-calc(10);
  text-align: center;
  background: $white;
  border-bottom: rem-calc(1) solid $gainsboro;
}

.calendar__td {
  padding: rem-calc(10);
  background: $white;
  border: 0;
  text-align: center;
}

.calendar__gray {
  color: $gainsboro;
}

.calendar__active {
  display: inline-block;
  width: rem-calc(22);
  height: rem-calc(22);
  background: $primary-color;
  color: $white;

  -webkit-border-radius: 50%;
  border-radius: 50%;

  &:hover {
    color: $white;
  }
}

.calendar__month {
  color: $primary-color;
}

.calendar__arrow {
  color: $body-font-color;
  font-size: rem-calc(20);
}