.project-square {
  border: 1px solid $gainsboro;
  padding: rem-calc(5);
  display: block;
}

.project-square__image {
  background: center no-repeat;
  background-size: contain;
  padding: 0 0 100%;
  position: relative;

  &:hover .project-square__text {
    display: block;
  }
}

.project-square__text {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .85);
  padding: rem-calc(25);
  overflow: hidden;
  color: $white;
}

.project-square__title {
  color: $white !important;
}